.container{
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
  
    .navbar-menu {
        display: flex;
        list-style: none;
        gap: 20px;
        color: #49557e;
        font-size: 18px;
      }
}